.todo-container{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0 12px 25px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    max-height: 800px;
    margin-top: -100px;
}
.todo-wrapper{
    overflow-y: auto;
    max-height: 50%;
}
.add-todo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.add-todo-button{
    color: #007bff;
    cursor: pointer;
    opacity: .7;
    font-size: 52px;
}
.add-todo-button:hover{
    opacity: 1;
}

.container-fluid{
    width: 700px;
}